<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
  </div>

  <div class="sidebar-module">
    <%= form_tag search_blogs_path, method: :get do %>
      <%=text_field_tag :search, nil, placeholedr: "Search", class: 'search-form' %>
      <%= submit_tag "Search", class: 'btn btn-primary my-2' %>
    <% end %>
  </div>

  <div class="sidebar-module">
    <h4>Categories</h4>
    <% @side_bar_categories.each do |category| %>
    <p><%= link_to category.title, category_path(category) %></p>
    <% end %>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links pl-2">
      <li><a href="#"><%= fa_icon "facebook" %></a></li>
      <li><a href="#"><%= fa_icon "twitter" %></a></li>
      <li><a href="#"><%= fa_icon "linkedin" %></a></li>
      <li><a href="#"><%= image_tag("researchgate-logo.svg", :alt => "researchgate icon", :class => "img-logo") %></a></li>
      <li><a href="#"><%= image_tag("goldenline-logo.svg", :alt => "researchgate icon", :class => "img-logo") %></a></li>
      <li><a href="#"><%= image_tag("academia-logo.svg", :alt => "researchgate icon", :class => "img-logo") %></a></li>
    </ol>
  </div>
</div>
